<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="shadow p-3 mb-5 bg-white rounded mt-5">
        <h1 class="text-center">登録内容編集</h1>

        <%= form_with model: @user, url: registration_path(@user),method: :patch, local: true do |f| %>
          <%= bootstrap_devise_error_messages! %>

          <div class="form-group">
            <%= f.label :ニックネーム %>
            <%= f.text_field :nickname, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :コメント %>
            <%= f.text_area :comment, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :プロフィール画像 %>
            <%= f.file_field :avatar,accept:"image/*", autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

            <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

            <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
          </div>

          <div class="form-group">
            <%= f.submit t('.update'), class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>

        <div class="border-top pt-3">
          <p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>

          <%= link_to t('.back'), :back %>
        </div>
      </div>
    </div>
  </div>
</div>
