<div class="container">
  <div class="row">
    <table class="table my-5">
      <tbody>
        <tr>
          <th style="width: 30%;">宴会名</th>
          <td><%= @event.event_name %></td>
        </tr>
        <tr>
          <th>都道府県</th>
          <td><%= @event.prefecture.name %></td>
        </tr>
        <tr>
          <th>開催日</th>
          <td><%= l @event.date %></td>
        </tr>
        <tr>
          <th>制限人数</th>
          <td><%= @event.limit %></td>
        </tr>
        <tr>
          <th>詳細</th>
          <td><%= @event.detail %></td>
        </tr>
        <tr>
          <th>お店</th>
          <td>
            <div class="d-lg-flex">
          <div class="img-wrapper mr-lg-5">
            <%= image_tag(@restaurant.image_url) %>
          </div>
          <div class="body">
            <h5 class="py-3 border-bottom">
              <%= link_to @restaurant.name, @restaurant.url,
                                          target: :_blank,
                                          rel: "noopener noreferrer" %>
            </h5>
            <p class="font-weigth-bold">
              <i class="fas fa-map-marker-alt"></i>
              <%= @restaurant.address %>
            </p>
            <div class="bg-light text-dark mb-3">
              <small><%= @restaurant.catch %></small>
            </div>
          </div>
      </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row justify-content-center mb-5">
    <%= form_with model: @event, url: events_path, local: true do |f| %>
      <%= f.hidden_field :event %>
      <%= f.hidden_field :restaurant %>
      <%= f.submit "これで決定する！",class:"btn btn-done text-white" %>
      <%= f.submit "修正する", name: "back" ,class:"btn btn-secondary" %>
    <% end %>
  </div>
</div>
