<%= form_with model:@event ,url:select_restaurant_path, local:true do |f| %>
  <div class="field">
    <%= f.label :宴会名 %>
    <%= f.text_field :event_name %>
  </div>

  <div class="field">
    <%= f.label :開催日 %>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label :制限人数 %>
    <%= f.number_field :limit %>
  </div>

  <div class="field">
    <%= f.label :詳細 %>
    <%= f.text_field :detail %>
  </div>

  <%= link_to "レストランを選択する" , search_path %>

  <div class="action">
    <%= f.submit%>
  </div>

<% end %>