<div class="container">
  <div class="event_image_wrapper">
    <%= image_tag @event.event_image.variant(gravity: :center).processed %>
  </div>
  
  <div class="">
    <table class="table my-5">
      <tbody>
        <tr> 
          <th style="width: 15%;">宴会名</th>
          <td><%= @event.event_name %></td>
        </tr>
        <tr>
          <th>開催者</th>
          <td><%= @event.planning_user.nickname %></td>
        </tr>
        <tr>
          <th>開催日</th>
          <td><%= @event.date %></td>
        </tr>
        <tr>
          <th>制限人数</th>
          <td><%= @event.limit %></td>
        </tr>
        <tr>
          <th>詳細</th>
          <td><%= @event.detail %></td>
        </tr>
        <tr>
          <th>お店</th>
          <td>
            <%= image_tag(@event.restaurant.image_url) %>
            <%= @event.restaurant.name %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div>
    <%= link_to "チャットルームへ", event_rooms_path(@event.id) %>
  </div>

  <div class="row">
    <% @event.memberships.each do |member| %>
      <%= member.user.nickname %>
    <% end %>
  </div>

    <%= render 'memberships/membership', event: @event %>

</div>
