<div class="container px-0 mb-3">
  <div class="event_image_wrapper">
    <%= image_tag @event.event_image.variant(gravity: :center).processed %>
  </div>
  
  <div>
    <table class="table my-5">
      <tbody>
        <tr> 
          <th style="width: 30%;">宴会名</th>
          <td>
            <%= @event.event_name %>
            <% if @event.planning_user == current_user %>
              <%= link_to edit_event_path(@event), class:"text-decoration-none text-muted" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>開催者</th>
          <td><%= @event.planning_user.nickname %></td>
        </tr>
        <tr>
          <th>開催日</th>
          <td><%= l @event.date %></td>
        </tr>
        <tr>
          <th>制限人数</th>
          <td><%= @event.limit %>名</td>
        </tr>
        <tr>
          <th>詳細</th>
          <td><%= @event.detail %></td>
        </tr>
        <tr>
          <th>参加者</th>
          <td>
            <div class="d-flex flex-wrap">
              <% @event.memberships.each do |member| %>
              <div class="d-flex align-items-center mr-3">
                <div><%= image_tag member.user.get_avatar("40x40^"), class:"rounded-circle mr-1" %></div>
                <small><%= member.user.nickname %></small>
              </div>
              <% end %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="restaurant-wrapper mb-3 py-3">
    <h3 class="heading"><span>お店はこちら</span></h3>
      <div class="d-lg-flex restaurant-item p-2">
          <div class="img-wrapper mr-lg-5">
            <%= image_tag(@event.restaurant.image_url) %>
          </div>
          <div class="body">
            <h5 class="py-3 border-bottom">
              <%= link_to @event.restaurant.name, @event.restaurant.url,
                                          target: :_blank,
                                          rel: "noopener noreferrer" %>
            </h5>
            <p class="font-weigth-bold">
              <i class="fas fa-map-marker-alt"></i>
              <%= @event.restaurant.address %>
            </p>
            <div class="bg-light text-dark mb-3">
              <small><%= @event.restaurant.catch %></small>
            </div>
          </div>
      </div>
    </div>
    
  <% if user_signed_in? %>
    <div id="favorite-btn-<%= @event.id %>" class="m-2">
      <%= render 'favorites/favorite', event: @event %>
    </div>
    
    <% if current_user.membership?(@event) %>
      <div class="m-2">
        <%= link_to event_rooms_path(@event.id), class:"btn btn-primary btn-block btn-lg" do %>
          <i class="fas fa-comment mr-1"></i>チャットルームへ
        <% end %>
      </div>
    <% end %>
  
    <div class="m-2">
       <%= render 'memberships/membership', event: @event %>
    </div>
  <% end %>
</div>
