<div class="container-fluid">
  <div class="top-image">
    <%= image_tag "top.jpg" %>
  </div>
  <div class="search-wrapper p-2 rounded">
    <%= form_with scope: :search, url: search_events_path, method: :get, local: true do |f| %>
      <h4 class="top-search-text">宴会を探そう！！</h4>
      <div class="row justify-content-center">
        <div class="form-group col-md-3">
          <%= f.date_field :date, value: @event_search_params[:date], class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: true},{class: 'form-control'}) %>
        </div>
        <div class="form-group col-md-3">
          <%= f.text_field :event_name, value: @event_search_params[:event_name], class:"form-control", placeholder:"フリーワード" %>
        </div>
        <div class="action mb-3 col-md-3 top-search-btn">
          <%= f.submit "この条件で探す", class:"btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>



