<% @restaurants.each do |restaurant| %>
    <div class="media">
      <div class="media-img-wrapper">
        <%= image_tag(restaurant["photo"]["pc"]["l"]) %>
      </div>
      <div class="media-body">
        <%= link_to restaurant["name"],restaurant["urls"]["pc"] %>
        <h5 class="mt-0"><%= restaurant["name"] %></h5>
        <p><%= restaurant["catch"] %></p>
        <%= link_to "このお店にする",new_restaurant_path(name: restaurant["name"],restaurant_image: restaurant["photo"]["pc"]["l"], url: restaurant["urls"]["pc"], catch: restaurant["catch"] ) %>
      </div>
    </div>
<% end %>


