<div class="container-fluid">
  <div class="row align-items-start pt-5">
    <div class="col-lg-3 wedget">
        <div class="card">
          <%= form_with url: restaurants_path, method: :get, local: false do |f| %>
            <h4 class="card-header">
              <i class="fas fa-search"></i>
              検索条件
            </h4>

            <div class="p-3">
              <div class="form-group">
                <%= f.label :大エリア %>
                <%= f.select :large_area ,@large_area_list.map{ |large_area| [large_area["name"],large_area["code"]] } ,{ },{id:"restaurant_area_field", class:"form-control" } %>
              </div>
              <div class="form-group">
                <%= f.label :ジャンル %>
                <%= f.select :genre, @genre_list.map{ |genre| [genre["name"],genre["code"]] } ,{},{id:"restaurant_genre_field",class:"form-control" } %>
              </div>

              <div class="form-group">
                <%= f.label :店名%>
                <%= f.text_field :name, id:"restaurant_name_field", class:"form-control"%>
              </div>

              <div class="action mb-3">
                <%= f.submit "この条件で探す", class:"btn btn-primary btn-block" %>
              </div>

              <div class="powered-by d-flex justify-content-center">
                <%= link_to image_tag("http://webservice.recruit.co.jp/banner/hotpepper-s.gif"), "http://webservice.recruit.co.jp/", target: :_black, rel: "noopener noreferrer" %>
              </div>
              
              <div class="text-center">
               <small>【画像提供：ホットペッパー グルメ】</small>
              </div>
             
            </div>
          <% end %>
        </div>
    </div>

    <div class="col-lg-9 search-result mb-3">
      <div class="card">
        <h4 class="card-header">
          <i class="fas fa-search"></i>
          検索結果
        </h4>
        <div id="restaurant-list" class="card-body">
          <% if @restaurants %>
            <%= render @restaurants %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
