<div class="container-fluid px-0">
  <div id="data" data-event-id="<%= @event.id %>" data-user-id="<%= current_user.id %>" data-room-id="<%= @room.id %>"></div>
  
  <div id="message-container" class="room p-1 pb-5">
    <% @messages.each do |message| %>
      <% if message.user_id === current_user.id %>
        <div class="my-message d-flex flex-column align-items-start mb-4">
          <%= render "messages/message", message: message %>
        </div>
      <% else %>
        <div class="others-message d-flex flex-column align-items-start mb-4">
          <%= render "messages/message", message: message %>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div id="message-form" class="message-form">
    <%= form_with model: @message, local: false do |f| %>
      <div class="form-group mb-0">
        <%= f.text_area :content,id: "message_input_area", class: 'form-control', rows: '1', maxlength: '500' %>
      </div>
      <%= f.hidden_field :event_id, value: @event.id %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <div class="form-group mb-0">
        <%= f.submit 'é€ä¿¡', class: 'btn btn-success btn-block', id: 'message-button' %>
      </div>
    <% end %>
  </div>
</div>
