<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "utage","#", class:"navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "ログイン","#" ,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "簡単ログイン","#" ,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録","#" ,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "宴会を探す","#" ,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "宴会を企画する","#" ,class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>